.placesSuggest {
  width: 100%;
  position: relative;
}

  .placesSuggest_suggests {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: white;
    list-style: none;
    margin: 0;
    padding: 0;
    box-shadow: 0 .4rem .5rem .0625rem #dbdbdc;
    z-index: 2;
  }

    .placesSuggest_suggest {
      padding: .3125rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 1.875rem;
      display: flex;
      align-items: center;
    }

    .placesSuggest_suggest:hover,
    .placesSuggest_suggest-active {
      background: #f5f5f5;
    }

      .placesSuggest_suggestIcon {
        color: #a7a8aa;
        fill: #a7a8aa;
        margin-right: 5px;
        margin-right: .3125rem;
      }

      .placesSuggest_suggest:hover .placesSuggest_suggestIcon,
      .placesSuggest_suggest-active .placesSuggest_suggestIcon {
        color: #40d47e;
        fill: #40d47e;
      }

      .placesSuggest_suggestLabel {
        font-size: .8125rem;
        color: #000;
      }

      .placesSuggest_suggestLabel-matched {
        font-weight: bold;
      }

      .placesSuggest_suggestAddress {
        padding: .3125rem;
        font-size: .6875rem;
        color: #a7a8aa;
      }
